{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}" />
{% endblock css %}

{% block content %}
<form class="form-signin">
  <div class="form-group row">
    <label for="inputEmail1">Email address</label>
    <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">You can use your institutional email.</small>
  </div>
  <div class="form-group row">
    <label for="inputPassword1">Password</label>
    <input type="password" class="form-control" id="inputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock %}